
#projets{
    position: relative;
    padding: 20px 70px;
    /* background-color: #fff;
    border: 1px solid black; */
}

.fleche{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: opacity 0.3s ease;
    /* opacity: 0; */
    font-size: 100px;
    color: rgba(186, 186, 186, 0.8);
    /* background-color: rgba(0, 0, 0, 0.8); */
    padding: 10px;
}
#Moins{
    left: 0;
}
#Plus{
    right: 0;
}
.infoSup{
    font-size: 12px;
    text-align: right;
    color: gray;
}
.autreProjets{
    padding: 10px;
    text-align: right;
    margin-bottom: 10px;
}