
#projets{
    position: relative;
    padding: 20px 70px;
    /* background-color: #fff;
    border: 1px solid black; */
}
#nb{
    position: absolute;
    right: 0;
    top: 0;
    background-color: lightgray;
    /* border: 1px solid #000; */
    border-radius: 25%;
    padding: 2px 5px;
    font-size: calc(var(--font-size) - .2rem);
    opacity: 0;
}
.fleche{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: opacity 0.3s ease;
    font-size: 100px;
    color: rgba(186, 186, 186, 0.8);
    padding: 10px;
}
#Moins{
    left: 0;
}
#Plus{
    right: 0;
}

.autreProjets{
    padding: 10px;
    text-align: right;
    margin-bottom: 10px;
}

.tout-les-projets{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 50px;
}
.tout-les-projets .projet{
    width: 400px;
    padding: 5px 5px;
}
.border {
    border: 1px solid #000;
    padding: 10px;
}
.tout-les-projets p {
    margin: 10px;
}
.tout-les-projets .pagination{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 20px;
}
@media screen and (max-width: 900px) {
    .fleche{
        font-size: 70px;
        padding:  0;
    }
    #projets{
        padding: 20px 40px;
    }
}
@media screen and (max-width: 500px) {
    .tout-les-projets .projet{
        width: 100%;
    }
    .tout-les-projets{
        margin: 10px;
    }
}