.recherche{
    opacity: 0;
}


#div_recherche{
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 60%;
    aspect-ratio: 1/.5;
    border: .5px solid gray;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 1px 1px 1px 100vw rgba(0,0,0,.1);
}
.resultat{
    width: 100% !important;
    overflow: auto;
    height: 90vh;
}

.span-bouton-2{
    cursor: pointer;
    color: red;
    font-weight: bold;
    font-size: 20px;
    line-height: 15px;
    width: 20px;
    background-color: white;
}

/* code pris en ligne pour flech gauche (return) sur la div de recherche */

.span-bouton-1 {
    cursor: pointer;

    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px
}
.span-bouton-1::after,
.span-bouton-1::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px
}
.span-bouton-1::after {
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    bottom: 7px
}
.span-bouton-1::before {
    width: 16px;
    height: 2px;
    bottom: 10px;
    background: currentColor
}